<h1 class="animated fadeIn fast">Sobre Comic App</h1>

<p class="animated fadeIn">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aspernatur aut culpa doloremque doloribus eius illo, illum laborum libero magni odit quis, rem sapiente suscipit tempore totam, unde veniam. Doloribus?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aliquam cupiditate dicta dignissimos earum error eveniet odio optio, perferendis quia reprehenderit rerum sed tempora totam? Facere incidunt ipsa nemo?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda distinctio eaque, eveniet ex laudantium nesciunt numquam repudiandae! Doloribus est eum eveniet laudantium, modi praesentium quaerat quidem quod reiciendis suscipit tempore!</p>
