<h1 class="mt-2">Listado de heroes</h1>
<hr>

<div class="row">
  <div class="col text-right">
    <button routerLink="/heroe/nuevo"
      type="button" class="btn btn-primary">
      <i class="fa fa-plus" >
        Agregar
      </i>
    </button>
  </div>
</div>

<!-- Tabla -->

<table class="table mt-2 animate__animated animate__fadeIn animate__faster">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Poder</th>
    <th scope="col">Vivo</th>
    <th scope="col">Herramientas</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">3</th>
    <td>Larry</td>
    <td>the Bird</td>
    <td>@twitter</td>
    <td>@twitter</td>
  </tr>
  </tbody>
</table>


<!-- Si no hay registros -->
<div class="alert-warning text-center mt-3">
  <h4>No hay registros</h4>
  <p>
    <i class="fa fa-exclamation fa-2x"></i>
  </p>
</div>

<!-- Al momento de llamar a firebase -->
<div class="alert-info text-center mt-3">
  <h4>Cargando</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>

  <p class="mb-0">
    Espere porfavor ...
  </p>

</div>
