<h1 class="mt-2">Listado de heroes</h1>
<hr>

<div class="row">
  <div class="col text-right">
    <button routerLink="/heroe/nuevo"
      type="button" class="btn btn-primary">
      <i class="fa fa-plus" >
        Agregar
      </i>
    </button>
  </div>
</div>

<!-- Tabla -->

<table *ngIf="!cargando && heroes.length > 0"
  class="table mt-2 animate__animated animate__fadeIn animate__faster">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Poder</th>
    <th scope="col">Vivo</th>
    <th scope="col">Herramientas</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let heroe of heroes; let i = index">
    <th scope="row" >{{i + 1}}</th>
    <td>{{ heroe.nombre }}</td>
    <td> {{heroe.poder}} </td>
    <td>

      <label *ngIf="heroe.vivo" class="badge badge-success">Vivo</label>
      <label *ngIf="!heroe.vivo" class="badge badge-danger">Muerto</label>

    </td>
    <td>

      <button class="btn btn-info mr-2"
        [routerLink]="['/heroe', heroe.id]"> <!-- Decirle a angular que va a tener esta configuracion -->
        <i class="fa fa-pen"></i>
      </button>

      <button (click)="borrarHeroe(heroe, i)"
        class="btn btn-danger mr-2">
        <i class="fa fa-trash"></i>
      </button>

    </td>
  </tr>
  </tbody>
</table>


<!-- Si no hay registros -->
<div *ngIf="!cargando && heroes.length == 0"
  class="alert-warning text-center mt-3">
  <h4>No hay registros</h4>
  <p>
    <i class="fa fa-exclamation fa-2x"></i>
  </p>
</div>

<!-- Al momento de llamar a firebase -->
<div *ngIf="cargando" class="alert-info text-center mt-3">
  <h4>Cargando</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>

  <p class="mb-0">
    Espere porfavor ...
  </p>

</div>
